<div *ngIf="words">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <td scope="col">
                    Word
                </td>
                <td scope="col">
                    Times
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let word of wordKeys">
                <td>{{ word }}</td>
                <td>{{ words[word] }}</td>
              </tr>
        </tbody>
    </table>
</div>