<a [routerLink]="['/notes/new']" class="btn btn-primary mb-3">New Note</a>

<div *ngIf="notes && notes.length > 0; else noNotes">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <td scope="col">
                    Title
                </td>
                <td scope="col">
                    Content
                </td>
                <td scope="col">
                    Timestamp
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let note of notes">
                <td scope="col">
                    <a [routerLink]="['/notes', note.id]">{{ note.title }}</a>
                </td>
                <td scope="col">
                    {{ note.content }}
                </td>
                <td scope="col">
                    {{ note.timestamp }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noNotes>
    <p>No notes available.</p>
</ng-template>

<a [routerLink]="['/notes/new']" class="btn btn-primary mb-3">New Note</a>